@page

@{
    ViewData["Title"] = "About Project One";
}

<div class="container">
       <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="Home" class="active"><a asp-page="/Index">Home</a></li>
            <li role="presentation" class="divider"></li>
             <li role="ListOfMovies"><a asp-area="" asp-page="/Movies/Index">Movies</a></li>
            <li role="presentation" class="divider"></li>
            <li role="About"><a asp-area="" asp-page="/About">About</a></li>
          </ul>
        </nav>
      </div>


      <div class="jumbotron">
            <h1>Welcome</h1>
            <p class="lead">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            <p>ASP.NET Core is a cross-platform, high-performance, open-source framework for building modern, cloud-based, Internet-connected applications.</p>
            <p><a asp-page="/Movies/Create" class="btn btn-sm btn-success"  role="button">Project 1 – Razor Page Project</a></p>

      </div>

<div>
  <ol>
    <li>
      <p>Follow the Online Tutorial to complete all steps
          regardless if you are using Windows or MAC OS X from Getting started with Razor
          Pages, Adding a model, Scaffolded Razor Pages, SQL Server LocalDB for Windows or
          SQLite for Mac OS X, Updating the Pages, Adding Search, and Adding a new field.
      </p>
</li>
<li>
  <p>
      Modify the footer to include your own name as part of the copyright statement,
  </p>
</li>
<li>
    <p>
        Submit several screen shots: the one without “Rating” and with new movies, the one
with the “Rating” field, the one with an updated rating, i.e., change the rating of one of
the movies and take the screen shot to show “before” and “after”.
    </p>
</li>
<li>
   <p>
      (CSC584 only) Adding the Validation step is required.
   </p>
</li>
  </ol>
</div>

