@page "{searchString?}"
@model RazorMovieApp.Pages.Movies.IndexModel
@{
    ViewData["Title"] = "Razor Movie App";
}
<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="Home" class="active"><a asp-page="/Index">Home</a></li>
            <li role="presentation" class="divider"></li>
             <li role="ListOfMovies"><a asp-area="" asp-page="/Movies/Index">Movies</a></li>
            <li role="presentation" class="divider"></li>
            <li role="About"><a asp-area="" asp-page="/About">About</a></li>
          </ul>
        </nav>
      </div>


      <div class="jumbotron">
            <h1>Welcome</h1>
            <p class="lead">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            <p>ASP.NET Core is a cross-platform, high-performance, open-source framework for building modern, cloud-based, Internet-connected applications.</p>
            <p><a asp-page="/Movies/Index" class="btn btn-sm btn-success"  role="button">Learn more ...</a></p>

      </div>

</div>
