@{
    ViewData["Title"] = "Student";
}

<h2>List Of Students </h2>

<p>WCU Students Web Application!</p>
<ul>
    
    {
        <li>
            @ViewData["Message"]
        </li>
        

    }
</ul>